@font-face {
    font-family: BebasNeue;
    src: url("./fonts/bebas_neue/TTF's/BebasNeue Regular.ttf") format("truetype"),
    url("./fonts/bebas_neue/BebasNeue Regular.otf") format("opentype");
}

@font-face {
    font-family: BebasNeue;
    font-weight: bold;
    src: url("./fonts/bebas_neue/TTF's/BebasNeue Bold.ttf") format("truetype"),
    url("./fonts/bebas_neue/BebasNeue Bold.otf") format("opentype");
}

@font-face {
    font-family: Quicksand;
    src: url("./fonts/quicksand/Quicksand-Regular.otf") format("opentype");
}
@font-face {
    font-family: Quicksand;
    font-weight: bold;
    src: url("./fonts/quicksand/Quicksand-Bold.otf") format("opentype");
}

#splashBackground {
    /*images used */
    background-image:url("./images/splashPageBackground.jpg");
    height: 100vh;
    width: inherit;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#logo{
    width: 35%;
    height: 50vh;
}
#nav2 {
    margin: 30px 0 0 0;
    padding: 0 0;
    border-radius: 50px;
    box-shadow: 3px 3px 3px rgba(0, 0, 0, .4);
}

a{
    padding: 0px 0px 0px 0px;
    margin: 0px 0px 0px 0px;
}


nav{
    background-color: #567D85;
    box-shadow: 0px 5px 5px rgba(0, 0, 0, 0.4);
    z-index: 1;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-content: center;
}

.lileft  {
    float:left;
}

#navbarImage{
    width: 40px;
    height: 40px;
    padding-top: 0;
}
.liright{
    float:right;
}

nav a{
    overflow: hidden;
    display:block;
    color: #FFFFFF;
    padding: 2vh 7% 2vh 7%;
    text-align: center;
    font-size: 25px;
    font-family: Quicksand;
    text-decoration: none;
    font-size: 30px;


}

nav a:hover {
    color: #FFFFFF;
}

.nav-scrolled{
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 1;

}

.travelSection-scrolled{
    margin-top: 60px;
}

#travelSection{
     height:60vh;
     z-index: 0;
}

.travelImages{
    width: 25%;
    height: 60vh;
    padding: 0;
    margin: 0;
    z-index: 0;
}

#travelStatement{
    height: 50vh;
    display: block;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;

}

#travelStatementParagraph {
    font-size: 50px;
    font-family: Quicksand;
    padding-bottom: 20px;
    color: #567D85;
}

#staircaseParallax{
    background-image: url("./images/italyStaircase.jpg");
    height:70vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}

.missionStatement{
    height: 100vh;
    width: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    color: #567D85;
}
.missionStatementHeader{
    font-family: BebasNeue;
    font-weight: bold;
    font-size: 60px;
}

.missionStatementParagraph {
    width: 75%;
    font-family: BebasNeue;
    font-size: 50px;
    padding-bottom: 20px;
}

.blakeBackground{
    background-image: url("./images/section-backdrop.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
    background-position: center -50px;
    background-attachment: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align:center;
    
}
#blakeParagraph{
    padding-bottom: 75px;
    padding-top: 0;
    padding-right: 0%;
    width:90%;
    color: white;
    font-family: BebasNeue;
    font-size: 50px;
}

#shareExperiance{
    box-shadow: 3px 8px 10px rgba(0, 0, 0, 0.4);
    width: 70%;
    border-radius: 10px 10px;
    margin-right: 10%;
}

#experianceStatement{
    padding-top: 5vh;
    width: 60%;
    align-items: center;
    text-align: center;
    float: right;
    justify-content: center;
    color: #FFFFFF;
    font-size: 30px;
    color: black;
    font-family: Quicksand;
    font-weight: bold;
}

#contactHeader{
    color: #b8847d;
    font-family: BebasNeue;
    padding-bottom: 50px;

}
.contactForm{
    padding-top: 0px;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#contact{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 100vh;
    margin-bottom: 30px;
}



#Modal{
    position: fixed;
    left: 50%;
    
}

footer{
    color: #FFFFFF;
    font-family: BebasNeue;
    font-size: 30px;
    height: 20vh;
    background-color: #567b87;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
